################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
*.db
*.json
*.meta
*.sqlite
*.controller
*.anim
*.png
*.otf
*.mat
*.wav
*.mp3
*.psd
*.prefab
*.md
*.fbx
*.zip
*.unity
*.rtf
*.tif
*.graph
*.info
*.uss
/AngryBird/Library/metadata
*.asmdef
*.dll
*.mdb
*.pdb
*.xml
*.txt
*.npmignore
*.yml
*.editorconfig
*.config
*.assets
*.resS
*.yaml
*.resource
*.bin
*.prefs
*.asset
*.dwlt
*.log
*.CopyComplete
*.cache
*.sln
*.csproj
*.lock
*.ide
*.ide-shm
*.ide-wal
/BreakTheBricks/Library/metadata
*.stamp
*.docx
*.overrideController
*.aif
/RoguelikeProject/Library/metadata
*.ttf
*.cginc
*.shader
*.unitypackage
/Unity_Project_First/TanksProject/Library/metadata
/Unity_Project_First/Tanks/Library/metadata
/Unity_Project_First/TankBattle/Library/metadata
/Unity_Project_First/StickPin/Library/metadata
/Unity_Project_First/Snake/Library/metadata
/Unity_Project_First/Roll A Ball/Library/metadata
/Unity_Project_First/RoguelikeProject/Library/metadata
/Unity_Project_First/New Unity Project/Library/metadata
/Unity_Project_First/FishMaster/Library/metadata
/Unity_Project_First/DOTweenProject/Library/metadata
/Unity_Project_First/BreakTheBricks/Library/metadata
/Unity_Project_First/AngryBird/Library/metadata
/Unity_Project_First/014/Library/metadata
/UGUI_Project/Library/metadata
/TankBattle/Library/metadata
/StickPin/Library/metadata
/Snake/Library/metadata
/Roll A Ball/Library/metadata
*.terrainlayer
*.tga
*.userprefs
*.jpg
*.spm
*.bmp
*.exr
*.OBJ
*.user
/AngryBird/obj/Debug
/AngryBird/Library
/AngryBird/Assets/PocketRPG Trails/Scripts
/BreakTheBricks/obj/Debug
/BreakTheBricks/Library
/RoguelikeProject/obj/Debug
/RoguelikeProject/Library
/Roll A Ball/Library
/Snake/obj/Debug
/Snake/Library
/StickPin/obj/Debug
/StickPin/Library
/TankBattle/obj/Debug
/TankBattle/Library
/UGUI_Project/obj/Debug
/UGUI_Project/Library
/Unity_Project_First/014/obj/Debug
/Unity_Project_First/014/Library
/Unity_Project_First/AngryBird/obj/Debug
/Unity_Project_First/AngryBird/Library
/Unity_Project_First/AngryBird/Assets/PocketRPG Trails/Scripts
/Unity_Project_First/BreakTheBricks/素材、源码工程
/Unity_Project_First/BreakTheBricks/Library
/Unity_Project_First/DOTweenProject/obj/Debug
/Unity_Project_First/DOTweenProject/Library
/Unity_Project_First/DOTweenProject/Assets/Demigiant
/Unity_Project_First/FishMaster/Temp
/Unity_Project_First/FishMaster/obj/Debug
/Unity_Project_First/FishMaster/Library
/Unity_Project_First/New Unity Project/obj/Debug
/Unity_Project_First/New Unity Project/Library
/Unity_Project_First/RoguelikeProject/obj/Debug
/Unity_Project_First/RoguelikeProject/Library
/Unity_Project_First/Roll A Ball/obj/Debug
/Unity_Project_First/Roll A Ball/Library
/Unity_Project_First/Snake/obj/Debug
/Unity_Project_First/Snake/Library
/Unity_Project_First/StickPin/obj/Debug
/Unity_Project_First/StickPin/Library
/Unity_Project_First/TankBattle/obj/Debug
/Unity_Project_First/TankBattle/Library
/Unity_Project_First/Tanks/Assets/Standard Assets/Effects/ImageEffects/Scripts
/Unity_Project_First/Tanks/Assets/Editor
/Unity_Project_First/Tanks/obj/Debug
/Unity_Project_First/Tanks/Library
/Unity_Project_First/TanksProject/Assets/Standard Assets/Effects/ImageEffects/Scripts
/Unity_Project_First/TanksProject/Assets/Editor
/Unity_Project_First/TanksProject/obj/Debug
/Unity_Project_First/TanksProject/Library
/Unity_Project_First/UGUI_Project/Temp
/Unity_Project_First/UGUI_Project/Library
/Unity_Project_First/ZeroBasicLearningProject/Assets/Standard Assets
